.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header span {
  font-size: 1.2rem;
}

.details {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 0.5rem;
}

.details span {
  font-size: 1.1rem;
}

.actions {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.3rem;
}

.actions :first-child {
  margin-right: 0.5rem;
}
